<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <meta charset="utf-8">
      <title>{% block title %}Masterpeace{% endblock title %}</title>
      <link rel="icon" href="{% static 'base_images/icon.png' %}" type="image/png" sizes="16x16">
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
      {% block extra_head_content %}{% endblock %}
    </head>

    <body>
      {% block content %}
      {% endblock %}


      {% block javascript %}
      <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous">
      </script>
      {% endblock %}
    </body>

</html>
