{% extends 'mp_app/base.html' %}

{% load staticfiles %}

{% block extra_head_content %}
{% endblock %}

{% block content %}

<div class='createProfileForm'>
    <form name='createProfile' id='createProfile' method='post'>
        {% csrf_token %}
        <input id='user_id' type='text' name='user_id' value='{{user.id}}' style='display:none'>
        <input type='file' id='image' name="file"/>
        <p id='status'>Please select a file</p>
        <img id='preview' src="{% static 'base_images/user.svg' %}" width=10% height=auto/>
        Bio:<input type='text' name="bio" placeholder="Bio"><br>
        Facebook:<input type='url' name="fb_link" placeholder="Link to Facebook"><br>
        Instagram:<input type='url' name="insta_link" placeholder="Link to Instagram"><br>
        Twitter:<input type='url' name="twitter_link" placeholder="Link to Twitter"><br>
        Allow Messages:<input type='checkbox' name='allow_messages' placeholder="Allow Messages"><br>
        <input type='submit' id="create_profile" value='Update profile'>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/createProfile.js' %}"></script>
<script src="{% static 'js/bin-ascii.js' %}"></script>
{% endblock %}
