{% extends 'mp_app/base.html' %}

{% load staticfiles %}

{% block extra_head_content %}
<link rel='stylesheet' type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block content %}

{% include 'mp_app/menubar.html' %}
<div class="registration">
  <h2>Show your masterpeace</h2>
  <form method='post' id='image-mp-form'>
      {% csrf_token %}
      <input type='text' name='owner' value={{user.id}} style="display:none"/><br>
      <input type='text' name='title' placeholder="Title"/><br>
      <input type='text' name='caption' placeholder="Caption" size='50'/><br>
      <input type='file' id='form-image' name='image' /><br>
      <p id='status'>Please select a file</p><br>
      <img id='form-image-preview' src="{% static 'base_images/picture.png' %}" width=10% height=auto/><br>
      Artform: <select name='artform'>
          {% for af in artform %}
            <option value={{af.id}}>{{af}}</option><br>
          {% endfor %}
      </select><br><br>
      Tag: <select multiple name='tag'>
          {% for t in tags %}
            <option value={{t.id}}>{{t}}</option><br>
          {% endfor %}
      </select></br>
      <span style='font-size:.7em; font-style: italic;'>Use SHIFT-Click to select multiple.</span></br>
      </br>
      Allow feedback: <input type='checkbox' name='allow_feedback'/><br>
      </br>
      <input type='submit' name='submit' id='submitBtn' value='Create'/>
  </form>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/bin-ascii.js' %}"></script>
<script src="{% static 'js/createImage.js' %}"></script>
{% endblock %}
