{% extends 'mp_app/base.html' %}
{% load staticfiles %}
{% block extra_head_content %}
<link rel='stylesheet' type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}
{% block content %}
{% include 'mp_app/menubar.html' %}
<div class='profile_editor'>
  <h2>Edit profile</h2>
  <form name='edit_profile' id='edit_profile' method='PUT'>
      {% csrf_token %}
      <input id='user_id' type='text' name='user_id' value='{{user.id}}' style='display:none'/>
      <input id='profile' type='text' name='profile' value='{{profile.id}}' style='display:none'/>
      <input type='file' value="{{profile.pic}}" id='form-image' name="file"/>
      <p id='status'/>Please select a file</p>
      {% if not profile.pic %}
        <img id='form-image-preview' src="{% static 'base_images/user.svg' %}" width=10% height=auto/></br>
      {% else %}
        <img id='form-image-preview' src="{{profile.pic}}" width=10% height=auto/></br>
      {% endif %}
      Bio: <input size='50' type='text' name="bio" placeholder='Bio' value='{{profile.bio}}'/></br>
      Facebook: <input type='url' name="fb_link" placeholder="Link to Facebook" value='{{profile.fb_link}}'/></br>
      Instagram: <input type='url' name="insta_link" placeholder="Link to Instagram" value='{{profile.insta_link}}'/></br>
      Twitter: <input type='url' name="twitter_link" placeholder="Link to Twitter" value='{{profile.twitter_link}}'/></br>
      Allow Messages: <input id='checkbox' type='checkbox' name='allow_messages' placeholder="Allow Messages" value='{{profile.allow_messages}}'/></br></br>
      <input type='submit' id="submitChanges" value='Update profile'>
  </form>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/editProfile.js' %}"></script>
<script src="{% static 'js/bin-ascii.js' %}"></script>
{% endblock %}
