{% extends 'mp_app/base.html' %}
{% load staticfiles %}
{% block extra_head_content %}
<link rel='stylesheet' type="text/css" href="{% static 'css/base.css' %}"/>
{% endblock %}
{% block content %}
{% include 'mp_app/menubar.html' %}

<div id='hashtagTop'>{% for tag in texttags%}
  <br>
  <span id='tagTitle'>
    <a href='#' onclick='history.go(-1); return true;'>
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
    </a> |
      Filtering results for: #{{ tag }}
  </span>
  {% endfor %}</div>
<div class='gallery'>
  {% for tag in texttags %}
    {% for textmp in tag.textmp_set.all %}
    <div class='posts_txt' id='text_{{text.id}}'>
      <span class='post_title'>{{textmp.title}}</span></br>
      {{textmp.text}}</br></br>
      {{textmp.owner}}</br>
      {% for tag in textmp.tag.all %}
      <span class='tag'><a href='/text_tags/{{tag.id}}'>#{{tag}}</a></span>
      {% endfor %}
      {% if user.is_authenticated and textmp.owner_id == user.id %}
        <p>Posted by: <a href='/profile/{{textmp.owner_id}}'>You</a>, {{textmp.created}}</p>
        <span class='edit_text'><a href='/edit_text/{{textmp.id}}'>edit</a></span>
      {% else %}
        <p>Posted by: <a href='/profile/{{textmp.owner_id}}'>{{textmp.owner}}</a>, {{textmp.created}}</p>
        <a href='#'><span class='report_post' id="text_{{mp.id}}"><i class="fa fa-flag" aria-hidden="true"></i></span></a>
      {% endif %}
    </div>
    {% endfor %}
{% endfor %}
  </div>


{% endblock %}

{% block javascript %}

{% endblock %}
