{% extends 'mp_app/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'mp_app/menubar.html' %}

{% if user.is_authenticated %}
  <div class='gallery'>
    {% csrf_token %}
    <div data-aos='fade' class='right_arrow'>
      <i class="fa fa-long-arrow-right fa-5x" aria-hidden="true"></i>
    </div>

  {% for mp in all_mps %}
  <!-- Begin text mp div -->
    {% if mp.text %}
      <div class='posts_txt' id='{{mp.id}}'>
        <span class='post_title'>{{mp.title}}</span></br>
        {{mp.text}}</br></br>

        {% for tag in mp.tag.all %}
          <span class='tag'><a href='/text_tags/{{tag.id}}'>#{{tag}}</a></span>
        {% endfor %}
        </br>

        {% if user.is_authenticated and mp.owner_id == user.id %}
          <p>Posted by: <a href='/profile/{{mp.owner_id}}'>You</a>, {{mp.created}}</p>
          <p><span class='edit_text'><a href='/edit_text/{{mp.id}}'><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></span>
          <a href='#'><span class='delete_text' id='{{mp.id}}'><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></span></a>
        {% else %}
          <p>Posted by: <a href='/profile/{{mp.owner_id}}'>{{mp.owner}}</a>, {{mp.created}}</p>
           <a href='#'><span class='report-text' id={{mp.id}} name="text_{{mp.id}}"><i class="fa fa-flag fa-lg" aria-hidden="true"></i></span></a></p>
        {% endif %}

        {% if mp.allow_feedback %}
          <form name='feedbackData' id='feedbackData' method='post'>
            {% csrf_token %}
            <input id='critic_id' type='text' name='critic_id' value={{user.id}} style='display:none'>
            <input id='masterpeace_id' type='text' name='masterpeace_id' value={{mp.id}} style='display:none'>
          </form>
          <div class='feedback'>
            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
            <!-- <img src="{% static 'base_images/feedback/feedback.png' %}" height=20px> -->
            <table class='feedback_bar'>
              <td>
                <a class='text_feedback_button' id='1'><img src="{% static 'base_images/feedback/thumbs_up.png' %}" height=20px>
                  <div class='counter' id='1'>{{mp.feedback1}}</div>
                </a>
              </td>
              <td>
                <a class='text_feedback_button' id='2'><img src="{% static 'base_images/feedback/laugh_crying.png' %}" height=20px>
                  <div class='counter' id='2'>{{mp.feedback2}}</div>
                </a>
              </td>
              <td>
                <a class='text_feedback_button' id='3'><img src="{% static 'base_images/feedback/heart.png' %}" height=20px>
                  <div class='counter' id='3'>{{mp.feedback3}}</div>
                </a>
              </td>
              <td>
                <a class='text_feedback_button' id='4'><img src="{% static 'base_images/feedback/grinning_face.png' %}" height=20px>
                  <div class='counter' id='4'>{{mp.feedback4}}</div>
                </a>
              </td>
              <td>
                <a class='text_feedback_button' id='5'><img src="{% static 'base_images/feedback/fire.png' %}" height=20px>
                  <div class='counter' id='5'>{{mp.feedback5}}</div>
                </a>
              </td>
            </table>
          </div>
        {% endif %}
      </div>
      <!-- End text mp div -->
    {% elif mp.image %}
      <!-- Begin image mp div -->
      <div class='posts_img' id='{{mp.id}}'>
        <div class='image_itself'>
          <img class='masterpeace' src="{{mp.image}}"/>
        </div>
        <div class='image_info' id='post_{{mp.id}}'>
          <span class='post_title'>{{mp.title}}</span></br>
          {{mp.caption}}</br></br>

          {% for tag in mp.tag.all %}
            <span class='tag'><a href='/image_tags/{{tag.id}}'>#{{tag}}</a></span>
          {% endfor %}

          {% if user.is_authenticated and mp.owner_id == user.id %}
            <p>Posted by: <a href='/profile/{{mp.owner_id}}'>You</a>, {{mp.created}}</p>
            <p><span class='edit_image'><a href='/edit_image/{{mp.id}}'><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></span>
            <a href='#'><span class='delete_image' id='{{mp.id}}'><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></span></a></p>
          {% else %}
            <p>Posted by: <a href='/profile/{{mp.owner_id}}'>{{mp.owner}}</a>, {{mp.created}}</p>
            <a href='#'><span class='report-image' id='{{mp.id}}' user='{{user.id}}' name="image_mp{{mp.id}}"><i class="fa fa-flag fa-lg" aria-hidden="true"></i></span></a>
          </br>
          {% endif %}
          </br>
          {% if mp.allow_feedback %}

            <form name='feedbackData' id='feedbackData' method='post'>
              {% csrf_token %}
              <input id='critic_id' type='text' name='critic_id' value={{user.id}} style='display:none'>
              <input id='masterpeace_id' type='text' name='masterpeace_id' value={{mp.id}} style='display:none'>
            </form>
            <div class='feedback'>
              <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
              <!-- <img src="{% static 'base_images/feedback/feedback.png' %}" height=20px> -->
              <table class='feedback_bar'>
                <td>
                  <a class='image_feedback_button' id='1'><img src="{% static 'base_images/feedback/thumbs_up.png' %}" height=20px>
                    <div class='counter' id='1'>{{mp.feedback1}}</div>
                  </a>
                </td>
                <td>
                  <a class='image_feedback_button' id='2'><img src="{% static 'base_images/feedback/laugh_crying.png' %}" height=20px>
                    <div class='counter' id='2'>{{mp.feedback2}}</div>
                  </a>
                </td>
                <td>
                  <a class='image_feedback_button' id='3'><img src="{% static 'base_images/feedback/heart.png' %}" height=20px>
                    <div class='counter' id='3'>{{mp.feedback3}}</div>
                  </a>
                </td>
                <td>
                  <a class='image_feedback_button' id='4'><img src="{% static 'base_images/feedback/grinning_face.png' %}" height=20px>
                    <div class='counter' id='4'>{{mp.feedback4}}</div>
                  </a>
                </td>
                <td>
                  <a class='image_feedback_button' id='5'><img src="{% static 'base_images/feedback/fire.png' %}" height=20px>
                    <div class='counter' id='5'>{{mp.feedback5}}</div>
                  </a>
                </td>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% else %}

  <div class='signup_splash'>
    <img class='splash' src="{% static 'base_images/bob.png' %}">
  </div>
  <div>
  <a class='signup_button' href='/signup'>Sign up and post your masterpeace!</a>
</div><div>
  <a class='login_button' href='/login'>Login!</a>
</div>
{% endif %}
<div class='footer'>
  Masterpeace © 2017 | <a href='/privacy'>Privacy Policy</a> | Find us on <a href='https://github.com/willwile4/masterpeace'>GitHub!</a>
</div>
{% endblock %}

{% block javascript %}
<script src='{% static "js/feedback.js" %}'></script>
<script src='{% static "js/deleteText.js" %}'></script>
<script src='{% static "js/bin-ascii.js" %}'></script>
<script src='{% static "js/reportImageAbuse.js" %}'></script>
<script src='{% static "js/reportTextAbuse.js" %}'></script>
{% endblock %}
