{% extends 'mp_app/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'mp_app/menubar.html' %}

{% if user.is_authenticated %}
  <div class='gallery'>
    {% csrf_token %}
    <div data-aos='fade' class='right_arrow'>
      <i class="fa fa-long-arrow-right fa-5x" aria-hidden="true"></i>
    </div>

  {% for mp in all_mps %}

    {% if mp.text %}
      <div class='posts_txt' id='text_{{mp.id}}'>
        <span class='post_title'>{{mp.title}}</span></br>
        {{mp.text}}</br></br>

        {% for tag in mp.tag.all %}
          <span class='tag'><a href='/text_tags/{{tag.id}}'>#{{tag}}</a></span>
        {% endfor %}
        </br>

        {% if user.is_authenticated and mp.owner_id == user.id %}
          <p>Posted by: <a href='/profile/{{mp.owner_id}}'>You</a>, {{mp.created}}</p>
          <span class='edit_text'><a href='/edit_text/{{mp.id}}'>edit</a></span>
          <a href='#'><span class='delete_text' id='{{mp.id}}'>delete</span></a>
        {% else %}
          <p>Posted by: <a href='/profile/{{mp.owner_id}}'>{{mp.owner}}</a>, {{mp.created}}</p>
        {% endif %}

        </br></br>

        {% if mp.allow_feedback %}
          <div class='feedback'>
            <table class='feedback_bar'>
              <td>
                <a class='feedback_button' id='0' href='#0'><i class="fa fa-quora" aria-hidden="true"></i></a>
                  <div class='feedback_counter' id='0'>{{mp.feedback1}}</div>
              </td>
              <td>
                <a class='feedback_button' id='1' href='#'><i class="fa fa-meetup" aria-hidden="true"></i></a>
                  <div class='feedback_counter' id='1'>{{mp.feedback2}}</div>
              </td>
              <td>
                <a class='feedback_button' id='2' href='#'><i class="fa fa-superpowers" aria-hidden="true"></i></a>
                  <div class='feedback_counter' id='2'>{{mp.feedback3}}</div>
              </td>
              <td>
                <a class='feedback_button' id='3' href='#'><i class="fa fa-microchip" aria-hidden="true"></i></a>
                  <div class='feedback_counter' id='4'>{{mp.feedback4}}</div>
              </td>
              <td>
                <a class='feedback_button' id='4' href='#'><i class="fa fa-anchor" aria-hidden="true"></i></a>
                  <div class='feedback_counter' id='5'>{{mp.feedback5}}</div>
              </td>
            </table>
          </div>
        {% endif %}
      </div>

    {% elif mp.image %}

      <div class='posts_img' id='image_{{mp.id}}'>
        <div class='image_itself'>
          <img class='masterpeace' src="/media/{{mp.image}}">
        </div>
        <div class='image_info'>
          <span class='post_title'>{{mp.title}}</span></br>
          {{mp.caption}}</br></br>

          {% for tag in mp.tag.all %}
            <span class='tag'><a href='/image_tags/{{tag.id}}'>#{{tag}}</a></span>
          {% endfor %}

          {% if user.is_authenticated and mp.owner_id == user.id %}
            <p>Posted by: <a href='/profile/{{mp.owner_id}}'>You</a>, {{mp.created}}</p>
            <span class='edit_image'><a href='/edit_image/{{mp.id}}'>edit</a></span></br>
            <a href='#'><span class='delete_image' id='{{mp.id}}'>delete</span></a>
          {% else %}
            <p>Posted by: <a href='/profile/{{mp.owner_id}}'>{{mp.owner}}</a>, {{mp.created}}</p>
          {% endif %}

          </br></br>

          {% if mp.allow_feedback %}
            <div class='feedback'>
              <table class='feedback_bar'>
                <td>
                  <a class='feedback_button' id='5' href='#'><i class="fa fa-quora" aria-hidden="true"></i></a>
                    <div class='feedback_counter' id='5'>{{mp.feedback1}}</div>
                </td>
                <td>
                  <a class='feedback_button' id='6' href='#'><i class="fa fa-meetup" aria-hidden="true"></i></a>
                    <div class='feedback_counter' id='6'>{{mp.feedback2}}</div>
                </td>
                <td>
                  <a class='feedback_button' id='7' href='#'><i class="fa fa-superpowers" aria-hidden="true"></i></a>
                    <div class='feedback_counter' id='7'>{{mp.feedback3}}</div>
                </td>
                <td>
                  <a class='feedback_button' id='8' href='#'><i class="fa fa-microchip" aria-hidden="true"></i></a>
                    <div class='feedback_counter' id='8'>{{mp.feedback4}}</div>
                </td>
                <td>
                  <a class='feedback_button' id='9' href='#'><i class="fa fa-anchor" aria-hidden="true"></i></a>
                    <div class='feedback_counter' id='9'>{{mp.feedback5}}</div>
                </td>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% else %}

  <div class='signup_splash'>
    <img class='splash' src="{% static 'base_images/bob.png' %}">
  </div>

  <a class='signup_button' href='/signup'>Sign up and post your masterpeace!</a>
{% endif %}


<div class='footer'>
  Masterpeace © 2017 | Find us on <a href='https://github.com/willwile4/masterpeace'>GitHub!</a>
</div>

{% endblock %}
{% block javascript %}
<script src='{% static "js/deleteText.js" %}'></script>
<script src='{% static "js/feedback.js" %}'></script>
{% endblock %}
