
{% load static %}
<header id='nav'>

  <div id='logo'>
    <a href='/'>
      <img src='{% static "base_images/logo.png" %}' alt='MasterPeace' height='72' width='204'/>
    </a>
  </div>

  {% if user.is_authenticated %}
  <div id='account'>
    Welcome, <a href='/'>{{user}}</a><a class='navbutton' href='/'><i class="fa fa-plus-square-o fa-4x"></i></a>
  </div>
  {% else %}
  <div id='account'>
    <a class='navbutton' href='/login'>Login</a> | <a class='navbutton' href='/signup'>Signup</a>
  </div>
  {% endif %}
</header>
