{% extends 'mp_app/base.html' %}
{% load staticfiles %}

{% block extra_head_content %}
<link rel='stylesheet' type="text/css" href="{% static 'css/message_detail.css' %}"/>
{% endblock %}

{% block content %}

{% include 'mp_app/menubar.html' %}

{% csrf_token %}
<h1>{{user.username}}</h1>
<div id='convo_detail'>
  <ul>
    {% for message in conversation.messages %}
      <li>
      {{message.content}}
    </li>
    {% endfor %}
</ul>
</div>
<a href='/messages'>Back to Messages</a>
{% endblock %}
