{% extends 'mp_app/base.html' %}
{% load staticfiles %}

{% block extra_head_content %}
<link rel='stylesheet' type='text/css' href="{% static 'css/messages.css' %}"/>
{% endblock %}

{% block content %}

{% include 'mp_app/menubar.html' %}

{% csrf_token %}

<div id='messages'>
  <ul>
  {% for convo in convos %}
    <li {% if convo.unread %} class='unread' {% endif %}>
      <a href='/messages/{{convo.other.id}}'>{{convo.other.username}}</a>
      <ul>
        <li>{{convo.latest_message}}</li>
        <li>{{convo.latest_message.created}}</li>
      </ul>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
