{% extends 'mp_app/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'mp_app/menubar.html' %}

{% csrf_token %}
<h1>{{user.username}}</h1>
<div id='convo_detail'>
  <ul>
    {% for message in messages %}
      {% {{if message.from_user_id}} == {{user.id}} %}
    <li class='sent'>
      {% else %}
      <li class='received'>
        {% endif %}
      {{message.content}}
      <ul>
        <li>{{message.created}}</li>
      </ul>
    </li>
    {% endfor %}
</ul>
</div>
<a href='/messages'>Back to Messages</a>
{% endblock %}
