{% extends 'mp_app/base.html' %}

{% load staticfiles %}

{% block extra_head_content %}
<link rel='stylesheet' type="text/css" href="{% static 'css/profile.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.css"
                       integrity="sha256-/vM/tv5uT2eM8uXkH815piWGPGwWjok2VlMWJ++2BEk="
                       crossorigin="anonymous" />

{% endblock %}

{% block content %}

{% include 'mp_app/menubar.html' %}

<div class='profile'>
  <div class='profile_pic'>
    {% if not profile.pic %}
      <img id='profile_pic' width="80" height="80" src='{% static "base_images/icon.png" %}'/>
    {% else %}
      <img id='profile_pic' width="80" height="80" src='{{profile.pic}}'/>
    {% endif %}
  </div>

  <div class='profile_info'>
    @<span class='username'>{{profile.user.username}}</span>
    </br>
    <span class='bio'>{{profile.bio}}</span></br>

    {% if user.is_authenticated and profile.user_id == user.id %}
      <span class='edit_profile'><a href='/edit_profile'><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
    {% else %}
      {% if profile.allow_messages %}
      <a href='/messages/{{profile.user_id}}'><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
      {% endif %}
    {% endif %}
    <br>
  </div>
</div>

<div class='user_gallery'>

{% for mp in all_mps %}
  {% if mp.owner_id == profile.user_id %}
    {% if mp.image %}

      <div class='posts_img' id='img_{{mp.id}}'>

        {% if user.is_authenticated and profile.user_id == user.id %}
        <div class='edit_delete'>
          <span class='edit_image'><a href='/edit_image/{{mp.id}}'><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
          <a href='#'><span class='delete_image' id='{{mp.id}}'><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
        </div>
        {% endif %}

        <a href="{{mp.image}}" data-fancybox="gallery" data-caption="{{mp.caption}}">
          <img class='masterpeace' src="{{mp.image}}" alt="masterpeace"/></a>
          <span class='username'>{{mp.title}}</span>
          {{mp.caption}}
          {% for tag in mp.tag.all %}
          <a href='/image_tags/{{tag.id}}'><span class='tag'>#{{tag}}</span></a>
          {% endfor %}

      </div>

    {% elif mp.text %}

      <div class='posts_txt' id='text_{{mp.id}}'>

        {% if user.is_authenticated and profile.user_id == user.id %}
        <div class='edit_delete'>
          <span class='edit_text'><a href='/edit_text/{{mp.id}}'><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
          <a href='#'><span class='delete_text' id='{{mp.id}}'><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
        </div>
        {% endif %}

        <span class='username'>{{mp.title}}</span>
        {{mp.text}}</br>
        {% for tag in mp.tag.all %}
        <a href='/text_tags/{{tag.id}}'><span class='tag'>#{{tag}}</span></a>
        {% endfor %}

      </div>
    {% endif %}
  {% endif %}
{% endfor %}

</div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.js"
        integrity="sha256-lGYI9J+diJJWwLLMD35V79cLhrxo7MYzNQImKJntuL0="
        crossorigin="anonymous"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src='{% static "js/deleteText.js" %}'></script>
{% endblock %}
