
{% extends 'mp_app/base.html'%}
{% load staticfiles %}
{% comment "file for AWS S3" %}
{% endcomment %}
{% block title %}Account{% endblock %}

{% block content %}
<input type='file' id='file_input'/>
<p id='status'>Please select a file</p>
<img id='preview' src="{% static 'base_images/user.svg' %}" width=10% height=auto/>

<form method='POST' id="profile_form" action='/submit-form/'>
    <input type='hidden' id='avatar-url' name='avatar-url' value='/static/user.svg'><br>
    <input type='text' name='username' placeholder="Username"><br>
    <input type='text' name='first-name' placeholder="First Name"><br>
    <input type='text' name='last-name' placeholder="Last Name"><br>
    <input type='password' name='password' placeholder="Password"><br>
    <input type='password' name='passoword-again' placeholder="Repeat Password"><br>
    <input type='email' name='email' placeholder='Email'><br>
    <input type='date' name='DOB' placeholder="DOB (MM/DD/YYYY)"><br>
    <input type='text' name="Bio" placeholder="Bio"><br>
    <input type='url' name="FBlink" placeholder="Link to Facebook"><br>
    <input type='url' name="Instalink" placeholder="Link to Instagram"><br>
    <input type='url' name="Twitterlink" placeholder="Link to Twitter"><br>
    <input type='checkbox' name='AllowMsgs' placeholder="Allow Messages"><br>
    <input type='submit' id="btn" value='Update profile'>
</form>
{% endblock%}

{% block javascript %}
<script src="{% static 'js/createProfile.js' %}"></script>
<script src="{% static 'js/bucket.js' %}"></script>
{% endblock %}
