<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="shortcut icon" sizes="16X16" type="image/png" href="{% static 'img/icon.png' %}"/>
        <meta charset="utf-8">
        <title>MasterPeace</title>
    </head>
    <body>
        <img src="{% static 'img/logo.png' %}" atl="masterpeace"/>
        hey everybody
        {% block content %}
        {% endblock %}


        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
          {% block javascript %}
          {% endblock %}
    </body>
</html>
