{% extends 'mp_app/base.html' %}
{% load staticfiles %}
{% block content %}
<div class='registration' id='signup'>
  </br>
  <a href='/'><img src="{% static 'base_images/icon.png' %}" type="image/png" width='60' height='60'></a>
  <h2>Sign up</h2>
  <span id='registered'>Already registered? <a href='/login'>Login</a></span>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}</br>
        {{ field }}<br></br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
