body{
  margin: 0;
  padding: 0;
  font-family: Avenir;
  font-weight: 100;
  width: 100%;
  height: 100%;
}

.footer{
  position:relative;
  bottom: 0;
  text-align: center;
  width:100%;
  height: 2em;
}

.right_arrow{
  right: 1em;
  position: fixed;
}

a, a:visited{
  display: inline;
  text-decoration: none;
  color: #4386a8;
}

.signup_splash{
  display: flex;
  justify-content: flex-end;
}

.splash{
  width: 70%;
  height: 70%;
  object-fit: scale-down;
}

.info_splash{
  position: fixed;
  padding: 2em;
  list-style: none;
}

.signup_button{
  text-transform: uppercase;
  width: 100%;
  height: 5%;
  margin: 1em 1em 1em 3em;
  width: auto;
  font-size: 2em;
  top: 50%;
  padding: 1em 2em 1em;
  border-radius: 1em;
  background-color: #ccc;
  -webkit-box-shadow: 0px 1px 30px 1px rgba(67,134,168,1);
  -moz-box-shadow: 0px 1px 30px 1px rgba(67,134,168,1);
  box-shadow: 0px 1px 30px 1px rgba(67,134,168,1);
  transition: .2s ease;
  position: absolute;
}

.signup_button:hover{
  background-color: #74C19D;
  transition: .2s ease;
}

.registration{
  width: 40%;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  -moz-box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  overflow: auto;
  white-space: nowrap;
}

#hastagTop{
  padding-top: 300px;
}

#tagTitle {
  padding-left: 5%;
  color: #4386a8;
  font-size: 110%;
}

.gallery{
  width: 95%;
  margin: 0 auto;
  margin-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.posts_img{
  min-height: 45em;
  width: 100%;
  display: flex;
  flex-flow: row;
  border-right: .1em solid black;
  margin: 1em;
  padding: 1em;
}

.posts_txt{ /* fix this cack right here */
  min-width:30%;
  max-width: auto;
  min-height: 45em;
  max-height:30%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border-right: .1em solid black;
  margin: 1em;
  padding: 1em;
  white-space: initial;
  overflow-x: hidden;
  overflow-y: scroll;
}

.image_itself{
  min-height: 60%;
  margin: 1em;
  display: flex;
  align-items: center;
}

.image_info{
  margin: 1em;
  width: 15em;
}

.post_title{
  font-weight: bold;
  font-size: 1.5em;
}

img.masterpeace{
  max-width:40em;
  max-height:40em;
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  -moz-box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
}

.tag{
  font-size: .8em;
  text-decoration: underline;
}

.feedback:before{
  content: '>';
  width: 80%;
  padding: 1em;
  text-align: center;
}

.feedback_bar{
  padding: .5em;
  min-width: 5em;
  max-width: 6em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  border: .1em solid black;
}

.feedback:hover .feedback_bar{
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s linear;
  display: flex;
  justify-content: space-around;
}

.feedback_button:hover{
  color: red;
}
