/*css file for dunderconstruction splash page*/

#splash {
    width: auto;
    margin: 0 auto;
    padding-top: 5%;
}

#splash img {
    width: 250px;
    margin-left: 7%
    height: auto;
    padding-top: 5%;
}

#splash h1 {
    padding-top: 5%;
}
