header#nav{
  height:4em;
  overflow: hidden;
  position: relative;
  background-color: #74C19D;
  text-align: center;
  padding-right: 1em;
}

div#logo{
  height: 4em;
  float: left;
  line-height: 4em;
  display: inline-block;
}

div#account{
  height: 4em;
  line-height: 4em;
  float: right;
  vertical-align: middle;
  font-weight: 100;
  color: white;
}

.navbutton{
  float: right;
  margin-left: 1em;
}
