.profile{
  border: .1em solid black;
}

.user_gallery{
  border: .1em solid black;
  display: flex;
  flex-flow: wrap row;
}

.posts{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: .1em solid black;
  margin: 1em;
  padding: 1em;
}

img.masterpeace{
  width: 10em;
  height: 10em;

}
