.profile_editor{
  width: 40%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  -moz-box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  box-shadow: 0px 1px 40px 1px rgba(67,134,168,1);
  overflow: auto;
  white-space: nowrap;
}

.profile{
  border-bottom: .1em solid black;
  display:flex;
  flex-flow: row;
  height:10em;
  margin: 1em;
  padding-left: 2em;
}

.profile_pic{
  top: 15%;
  position: relative;
  -webkit-transition-duration: .7s; /* Safari */
  transition-duration: .7s;
}

#profile_pic{
  max-width: 5em;
  height: auto;
}

.profile_pic:hover{
  -webkit-transform: rotate(20deg); /* Safari */
  -ms-transform: rotate(20deg); /* IE 9 */
  -moz-transform: rotate(20deg); /* Firefox */
  transform: rotate(20deg);
  -webkit-transition-duration: .7s; /* Safari */
  -ms-transition-duration: .7s; /* IE 9 */
  -moz-transition-duration: .7s; /* Firefox */
  transition-duration: .7s;
}

.profile_info{
  padding: 1em;
}

.username{
  font-weight: bold;
}

.bio{
  font-size: .9em;
  font-style: italic;
  text-indent: 2em;
}

.user_gallery{
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  padding-left: 3em;
}

.posts_img{
  max-height: 20em;
  min-height: 1em;
  width: 27%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: .1em solid black;
  margin: 1em;
  padding: .5em;
  z-index: 99;
}

.posts_txt{
  max-height: 20em;
  min-height: 1em;
  min-width: 20%;
  width: 27%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: .1em solid black;
  margin: 1em;
  padding: .5em;
  text-overflow: ellipsis;
  overflow:scroll;
  /*-webkit-transition: <> .5s;
  -moz-transition: <> .5s;
  -o-transition: <> .5s;
  transition: <> .5s;           for teh transistions       */
}

img.masterpeace{
  width: auto;
  height: auto;
  z-index: 1;
  margin: 1em;
  max-width:10em;
  max-height:10em;
  transition: ease .1s;
}

.masterpeace:hover{
  max-width:11em;
  max-height:11em;
}

.edit_delete{
  position: relative;
}

.fancybox-content{
  width: 100%;
  display: inline-flex;
  align-content: center;
}
